[Desktop Entry]
Type=Application
Version=1.0
Name=FlClashY
GenericName=FlClashY
Comment=Customizable FlClash fork based on Mihomo
Exec=flclashy %U
Icon=flclashy
Terminal=false
Categories=Network;
Keywords=FlClashY;FlClash;Clash;Mihomo;Proxy;VPN;
StartupNotify=true
